#descripcion_usuario {
    background-color: #000011;
    color: #F0F0F0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
}

#descripcion_usuario nav {
    float: right;
    /*margin-right: 5px;*/
}

#titulo_descriptivo {
    background-color: #92cae4;
    text-align: center;
    border-radius: 10px;
    padding: 1px;
    text-decoration: underline;
}

.derecha {
    width: 690px;
    margin-left: 250px;
}

#buscador {
    margin-top: 10px;
}

#buscador form {
    /*margin-top: 10px;*/
    /*background-color: #669900;
    color: #F0F0F0;*/
    padding: 6px;
    /*border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
}

#busqueda_simple {
    /*margin-top: 8px;*/
}

a {
    /*text-decoration: none;*/
    /*color: #F0F0F0;*/
    font-weight: bold;
    /*text-shadow: 3px 3px 4px #000000;*/
}

/*footer {
    margin-top: 20px;
    font-size: 0.87em;
    background-color: #404040;
    color: #F0F0F0;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}*/

input {
    /*border-radius: 8px;*/
}

label {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

#imagen {
    float: left;
    margin-left: 10px;
    border-style: dashed;
}

#resultados {
    clear: both;
    margin-left: 25px;
    margin-right: 25px;
}

#resultados form {
    padding: 10px;
    background: -moz-linear-gradient(top, rgba(242, 245, 246, 1) 0%,
        rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100% );
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242,
        245, 246, 1) ), color-stop(37%, rgba(227, 234, 237, 1) ),
        color-stop(100%, rgba(200, 215, 220, 1) ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242, 245, 246, 1) 0%,
        rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100% );
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242, 245, 246, 1) 0%,
        rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100% );
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(242, 245, 246, 1) 0%,
        rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100% ); /* IE10+ */
    background: linear-gradient(top, rgba(242, 245, 246, 1) 0%,
        rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(    startColorstr='#f2f5f6',
        endColorstr='#c8d7dc', GradientType=0 ); /* IE6-9 */
    border: 1px solid #000000;
}

button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: -moz-linear-gradient(19% 75% 90deg, #F0DEB8, #FDF0D1, #fff 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),
        to(#F0DEB8), color-stop(.3, #FDF0D1) );
    color: #836d4d;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #d4c198;
}

button:hover {
    background: -moz-linear-gradient(19% 75% 90deg, #EBD9B4, #F2E6C8, #F5F5F5 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5),
        to(#EBD9B4), color-stop(.3, #F2E6C8) );
    text-decoration: underline;
}

#btn_go {
    height: 65px;
    float: right;
}

#novelas {
    float: right;
    margin-top: 26px;
    margin-right: 14px;
}

#resultados nav a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: -moz-linear-gradient(19% 65% 90deg, #0087B4, #0099CC, #0099CC 51%);
    background: -webkit-gradient(linear, 0% 45%, 0% 60%, from(#0099CC),
        to(#0087B4) );
    color: #f0f0f0;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #267ed4;
    text-align: center;
}

#resultados nav a:hover {
    text-decoration: overline;
}

footer a {
    text-decoration: underline;
}

#descripcion_libro {
    /*border: 3px solid #267ed4;*/
    font-size: 1.2em;
    width: 675px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
}

#descripcion_libros { /*margin: 20px;*/
    margin-top: 10px;
    border: 1px solid #267ed4;
    font-size: 1.4em;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 14px;*/
    color: #ffffff;
    padding: 10px 10px;
    background: -moz-linear-gradient(top, #ff2819 0%, #ab0000);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2819),
        to(#ab0000) );
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid #7d0000;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
        rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
        2px rgba(255, 255, 255, 0.7);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px
        rgba(255, 255, 255, 0.3);
}

.sol {
    margin-top: 25px;
}

.sol_cifra {
    font-size: 2em;
    font-weight: bold;
}

#sol_descriptivo {
    color: #123d54;
    padding: 8px;
    background: -moz-linear-gradient(top, #afd9fa 0%, #588fad);
    background: -webkit-gradient(linear, left top, left bottom, from(#afd9fa),
        to(#588fad) );
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #003366;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px
        rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
        1px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.7), 0px 1px 0px
        rgba(255, 255, 255, 0.3);
}

#sol_descriptivo nav {
    float: right;
}

#sol_explicativo {
    color: #003366;
    padding: 10px 20px;
    background: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
        to(#e8e8e8) );
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #4d4d4d;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px
        rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
        1px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 0), 0px 1px 0px
        rgba(255, 255, 255, 0);
}

#sol_success {
    color: #050505;
    padding: 10px 20px;
    background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 50%, #b5b5b5);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
        color-stop(0.50, #ebebeb), to(#b5b5b5) );
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #949494;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
        rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
        2px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px
        rgba(255, 255, 255, 1);
}

#res_success {
    color: #050505;
    padding: 10px 20px;
    background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 50%, #b5b5b5);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
        color-stop(0.50, #ebebeb), to(#b5b5b5) );
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #949494;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
        rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
        2px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px
        rgba(255, 255, 255, 1);
}

#detalles_incambiables{
    font-size: 2em;      
}

.panel{
    clear: both;
    padding-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

#res_success span{
    font-size: 3em;
    font-weight: bolder;
}

#sol_fail {
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(top, #ff2819 0%, #ab0000);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2819),
        to(#ab0000) );
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid #7d0000;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
        rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
        2px rgba(255, 255, 255, 0.7);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px
        rgba(255, 255, 255, 0.3);
}

#sol_fail a {
    color: highlighttext;
    font-size: 1.5em;
}

.sol a {
    color: #000000;
}