body{
    font-size: 0.7em;
    margin-top: 3px;
}

#contenedor{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    box-shadow: 0px 0px 9px 5px #000011;
    border: solid;    
}

h4{
    padding: 5px 10px;
    margin: 0px;
}

h3{
    padding: 5px 10px;
    margin: 0px;
}

#texto_introducción{
    width: 600px;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

#footer{
    clear: both;
    padding: 10px;   
    margin-top: 5px;        
}

#browser{
    margin-left: 45px;
}

footer{
    clear: both;
    padding: 10px;   
    margin-top: 25px;
}