#contenido {
	position:absolute;
	width:800px;
	left: 50%;
	margin-left:-400px;
	z-index:1;	
	margin-top: 0px;
	height: 780px;
	box-shadow: 0px 0px 9px 5px #000011;
    border: solid;    
}

#menu {
	position:absolute;
	width: 171px;
	/*height: 293px;*/
	z-index:2;
	left: 3px;
	top: 125px;
	/*background-color: #F0F0F0;*/
	/*border: 1px dashed #000;*/
}

#menu h4{
	text-align: center;
}

#menu button{
	width: 100%;
	height: 100%;
	text-align: left;
}

body {
	margin-top: 0px;
	margin-left: 0px;	
}

#pieDePagina {
	position:absolute;
	width:778px;
	z-index:3;
	left: 0;
	bottom: 0px;		
	line-height: normal;
}

#contenido #menu table tr td strong {
	color: #FFF;
}
#contenido #pieDePagina strong #nino {
	color: #FFF;
}

#logeado {
	position:absolute;
	width:602px;
	height:32px;
	z-index:4;
	left: 181px;
	top: 77px;	
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#terminal {
	margin-top: 10px;
	/*position:absolute;
	width:171px;
	height:43px;
	z-index:6;
	left: 3px;
	top: 425px;*/
	text-align: center;
	/*border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	background-color: #F0F0F0;*/
	padding: 5px;
}

#buscador {
	position:absolute;
	width:340px;
	height:25px;
	z-index:5;
	left: 181px;
	top: 138px;
	/*background-color: #404040;
	color: #FFF;*/
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 7px;
}

#titulo {
	position:absolute;
	width:235px;
	height:20px;
	z-index:8;
	left: 542px;
	top: 137px;
	padding: 5px;
	font-size: 125%;
	text-align: center;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#contenido_contenido {
	position:absolute;
	width:600px;
	z-index:7;
	left: 181px;
	top: 192px;
	padding-top: 5px;
	padding-left: 10px;
	height: 441px;
}

#logeado a {
	color: #FFF;
}

input {
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-size: 110%;
}
select {
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-size: 110%;
}

#reportemenu {
	position:absolute;
	width:168px;
	z-index:2;
	top: 77px;
	left: 5px;
	background-color: #F0F0F0;
}
    
#buscador #usuarioBusca{
	width:60%;
}
    
#contenido_reporte {
	position:absolute;
	width:602px;
	z-index:2;
	left: 183px;
	top: 197px;	
}

#contenido_reporte_operaciones {
	position:absolute;
	width:764px;
	z-index:2;
	left: 18px;
	top: 197px;
}
        
    

#busca_reporte {
	position:absolute;
	width:354px;
	height:61px;
	z-index:2;
	left: 183px;
	top: 128px;
}
#reportemenu table tr td strong {
	color: #FFF;
}
#reporte_container {
	position:absolute;
	width:99%;
	z-index:9;
	left: 5px;
	top: 191px;
}

#item_detalle h3 {
	text-align: center;
}
